extends base

block content 
    if errorMsg 
            span=errorMsg
    form(method="POST")
        input(name="oldPass", requried, type="password", placeholder= "Old Password")
        input(name="newPass", requried, type="password", placeholder = "New Password")
        input(name="newPass2", requried, type="password", placeholder = "New Password Confirm")
        input(type= "submit", value ="Change Password")
        hr
        a(href="/users/change-password") Change Password &rarr;