extends base.pug
include mixins/video.pug

block content 
    head
        h2 welcome to youtube clone!
    body
        nav 
            ul 
                li 
                    a(href="/videos/upload") Upload Video

    input()
    button send
    each video in videos
        +video(video)
    else
        li sorry nothing found.
